{% extends "layout.html" %} {% block content %}
<div id="home">
  <h1 id="home__title">Latihan Flask</h1>
  <p id="home__para">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione
    ullam porro. Vero iure cumque iste ut, totam voluptate fugit unde doloremque
    iusto placeat aliquid ea asperiores et quibusdam eveniet soluta
    necessitatibus, laborum hic temporibus? Odit officiis rerum consequuntur rem
    consequatur velit natus repellat quidem, assumenda sunt impedit quis
    distinctio!
  </p>
</div>
{% endblock %}
